.teams {
  margin: 100px 60px;
}

.teams h2 {
  font-size: 52px;
  margin-bottom: 125px;
  background: #b7ccda;
  /* display: inline-block; */
  padding: 7px 24px;
  margin-top: 100px;
  font-weight: 800;
}

.teams .picture-box {
  height: 362px;
  position: relative;
  margin-bottom: 28px;
}

.teams .picture-box .team-image {
  width: 234px;
  -webkit-box-shadow: 5px 5px 20px #b7ccda,
    -2px -2px 20px rgba(252, 55, 55, 0.274);
  box-shadow: 5px 5px 20px #b7ccda, -2px -2px 20px rgba(252, 55, 55, 0.274);
  border-radius: 4.2px;
}
.teams .picture-box .team-image-sir {
  width: 300px;
  -webkit-box-shadow: 5px 5px 20px #b7ccda,
    -2px -2px 20px rgba(252, 55, 55, 0.274);
  box-shadow: 5px 5px 20px #b7ccda, -2px -2px 20px rgba(252, 55, 55, 0.274);
  border-radius: 4.2px;
}

.team-name-profile {
  height: 135px;
  width: 230px;
  position: absolute;
  bottom: 0;
  left: 59px;
  border-radius: 3.8px;
  background: #f7fbfd;
  -webkit-box-shadow: 20px 20px 60px #b5b8b9,
    -1px -2px 8px rgba(143, 142, 142, 0.384);
  box-shadow: 20px 20px 60px #b5b8b9, -1px -2px 8px rgba(143, 142, 142, 0.384);
  padding: 10px 5px 5px 20px;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.team-name-profile:hover {
  background-color: #b3c8d6;
}

.team-name-profile h3 {
  font-family: Roboto, sans-serif;
  font-weight: 600;
  margin-bottom: 5px;
}
